@font-face {
  font-family: abode;
  src: url('font/AGaramond-Regular.otf');
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  font-family: "Kalam", cursive;
  height: 100vh;
  background-color: #65B8D8;
  display: flex; 
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

:root{
  --main-font:"Roboto", sans-serif;
  --shadow-clr:  rgba(0, 0, 0, 0.151 );
}


/* main body of the task list */

main{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 12%;
  margin: 0 auto;
  max-width: 1400px;
  height: 83.5%;
  margin: 0 auto;
  z-index: 100;
}

#main-body{
  height: 97%;
  min-width: 60rem;
  background-color: #F2F0CE;
  /* background-color: red; */
  border-radius: 3px;
  box-shadow: 5px 5px 2px 0px var(--shadow-clr);
  overflow-x: hidden;
  z-index: 10;
  position: relative;
  overflow: hidden;
  
}
#main-body::-webkit-scrollbar{
  width: 0px;
}
#header{
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 10;
  padding: 10rem 20px 2.5rem 20px;
  background-color: #F2F0CE;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header img{
  width: 100px;
}
#header h1{
  font-family: "Roboto", sans-serif;
  font-size: 4rem;
  letter-spacing: 2px;
  font-weight: 400;
  color: #4f5042;
}

#punchHolesContainer{
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  padding: 15px 20px 5px 20px;
  z-index: 12;
  background-color: #F2F0CE;
}
.punchHole{
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  position: relative;
  background-color: #65B8D8;
  box-shadow: inset .4rem 1px 0px 0px rgba(0, 0, 0, 0.247);
}
.punchHole::before{
  content: '';
  position: absolute;
  top: -1.5rem;
  left: .9rem;
  width: .9rem;
  height: 1.6rem;
  background-color: #65B8D8;
  box-shadow: inset .4rem 0px 0px 0px rgba(0, 0, 0, 0.225);
}
.line-image{
  margin-right: .5rem;
}

.line-image img{
  min-width: 12rem;
  transform: rotate(23deg);
  opacity: 0.6;
}

.currentDate{
  font-family: abode;
  font-size: 2.3rem;
  border-bottom: .5px solid #593C2C;
  font-weight: 500;
  width: 13.5rem;
  height: 30px;
  position: relative;
}
.calender-img{
  position: absolute;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url('img/calendar.png');
  background-size: cover;
}
.date-text{
  font-size:2rem;
  font-family: "Kalam", cursive;
  padding-left: 3.5rem;
}
.activeTask_Container{
  margin-left: 9.3rem;
  width: 76%;
  padding-top: 25px;
}
.activeTask_Container  li{
  list-style:none;
  border-bottom: 2px dotted #ABA889;
  font-size: 2.3rem;
  padding-left: 14px;
  padding-top: 4px;
  text-decoration: none;
  position: relative;
  transition: transform 0.1s linear;
  text-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
  padding-right: 20px;
}




.activeTask_Container .taskCompleteCheckBox{
  position: absolute;
  left: -4.5rem;
  top:35%;
  cursor: pointer;
  border: 1.9px dotted black;
  height: 2.7rem;
  width: 2.7rem;
}

.activeTask_Container .taskCompleteCheckBox::before{
  content: '✓';
  position: absolute;
  bottom: -8px;;
  left: 4px;
  opacity: 0;
}

.activeTask_Container .moveTaskTORecycleBin{
  display: inline-block;
  position: absolute;
  right: 0;
  bottom:7px;
  height: 2.3rem;
  width: 2.3rem;
  cursor: pointer;
  transition: transform 0.25s ease;
  background-image: url('img/trash-bin.png');
  background-size: contain;
}

.activeTask_Container .moveTaskTORecycleBin:hover{
  transform: scale(1.1);
}
/* completed task Section */
.activeTask_Container .taskCompleted{
  text-decoration: line-through;
}
.activeTask_Container .taskCompleted .taskCompleteCheckBox{
  color: rgb(30, 175, 30);
}
.activeTask_Container .taskCompleted .taskCompleteCheckBox::before{
  opacity: 1;
}

/* Add Task Section */
#addTask{
  background-color: rgb(241, 241, 241);
  height: fit-content;
  padding: 2rem 3rem 3.5rem 3rem;
  border-radius: 20px;
  position: relative;
  box-shadow: 5px 5px 4px var(--shadow-clr);
}
#addTask h2{
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
}
.feather-img{
  position:absolute;
  width: 5.5rem;
  top: 7px;
  left: 10%;
}
.addTaskInput{
  display: flex;
  align-items: center;
}
.addTaskInput input{
  width: 40rem;
  height: 6rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #C3A27F;
  border: none;
  font-size: 2.6rem;
  padding:0rem 2.7rem;

}
.addTaskInput input:focus{
  outline: none;
}
#addTaskButton{
  margin-left: -25px;
  height: 6rem;
  padding: 0 4.4rem;
  font-size: 2.5rem;
  font-family: var(--main-font);
  border-radius: 30px;
  border:none;
  background-color:#593C2C;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 0px 3px white;
  transition: all .15s ease;
}
#addTaskButton:active{
 background-color: rgb(25, 43, 8);
}


.manage-tasks{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 6rem;
}



/* deleted task section  */
.recycle-wrapper{
  position: relative;
 
}
.trash_icon{
  position: absolute;
  bottom: -20rem;
  right: 6px;
  z-index: 200;
  cursor: pointer;
  display: none;
}
.trash_icon img{
  width: 12rem;
}

.recycle-tasksContainer{
  max-width: 38rem;
  height: 38rem;
  background-color: #FEC5CF;
  margin: auto;
  border-radius: 3px;
  transform: rotate(-7deg);
  box-shadow: -7px 7px 3px var(--shadow-clr);
  z-index: 100;
  overflow-y: auto;
}
.recycleTask_heading{
  display: flex;
  width: 100%;
  gap: 15%;
  padding: 2rem 0 1.5rem 0;
  position: sticky;
  z-index: 300;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FEC5CF;
}
.recycleTask_heading img{
  width: 3rem;
  height: 3rem;
  opacity: .9;
  margin-left: 30px;
}
.recycleTask_heading h3{
  font-size: 2.5rem;
  text-align: center;
}

.pushPin_img{
  position: absolute;
  width: 5rem;
  right: 120px;
  top: -15px;
  z-index: 100;
  
}

.recycle-tasksContainer::-webkit-scrollbar{
  width: 0px;
}
.recycleTask_Container {
  list-style-type:decimal;
  font-size: 2.4rem;
  padding: 5px 25px 0px 45px;
}
.recycleTask_Container .restoreableTask{
  position: relative;
  word-wrap: break-word;
  padding-right: 48px;
}
.recycleTask_Container .restoreableTask .restoreTaskBtn{
  display: inline-block;
  position: absolute;
  right: 2.8rem;
  top: 3px;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  background-image: url('img/recycle-energy.png');
  background-size: contain;
  transition: transform 0.25s ease;
}


.restoreTaskBtn:hover{
  transform: scale(1.1);
}

.recycleTask_Container li .deleteTaskBtn{
  position: absolute;
  right: -6px;
  top: 0;
  font-size: 2.7rem;
  height: 2.4rem;
  width: 2.4rem;
  cursor: pointer;
  background-image: url('img/dust-bin.png');
  background-size: contain;
  transition: transform 0.25s ease;
}
.deleteTaskBtn:hover{
  transform: scale(1.1)
}
.taskdeleted{
  display:  none;
}
/* images on body */


.plant-img{
  bottom: -44px;
  right: -64px;
  position: absolute;
}
.plant-img img{
  width: 30rem;
}
.rose-img{
  position: absolute;
  top:-1rem;
  left:-1rem;
}
.rose-img img{
  width: 26rem;
}
















/*  --------------media queries------------------ */


@media screen and (max-width: 1600px){
  html{
    font-size: 56%;
  }
  .plant-img img{
   width: 25rem;
  }
  .rose-img img{
    width: 16rem;
  }
}

@media screen and (max-width: 1400px){
  html{
    font-size: 53%;
  }
  .plant-img img{
    width: 19rem;
   }
   .rose-img img{
     width: 16rem;
   }
   main{
    gap: 8%;
  }
  #punchHolesContainer{
    top: -4px;
  }
}

@media screen and (max-width: 1200px){
  html{
    font-size: 50%;
  }
  main{
    gap: 6%;
  }
}
@media screen and (max-width: 1100px){
  html{
    font-size: 44%;
  }
}

@media screen and (max-width: 1000px){
  main{
    flex-direction: column-reverse;
    gap: 0%;
    margin: 6rem auto 0rem auto;
    height: 80%;
  }
  .line-image img{
    max-width: 3rem;
  }
  .trash_icon{
    display: block;
  }
  .recycle-wrapper{
    position: absolute;
    bottom: 2rem;
    z-index: 100;
    left: 57%;
    transform: translateY(90%) scale(0);
    transition: all .5s ease-out;
  }
  
  .showRecycleBin{
    transform: translateY(0%) scale(1);
    left: 27%;
  }
  .recycle-tasksContainer{
    min-width: 295px;
    transform: rotate(0deg);
    box-shadow: 7px 7px 3px var(--shadow-clr);
  }
  body{
    align-items: flex-start;
  }
  .addTaskInput{
    justify-content: center;
  }
  .pushPin_img{
    display: none;
  }.plant-img{
    display: none;
  }
  #punchHolesContainer{
    top: -5px;
  }
  .punchHole{
    box-shadow: inset .4rem 0px 0px 0px rgba(0, 0, 0, 0.247);
  }
  .currentDate{
    top: 11.5%;
    padding-top: 5px;
    margin-left: .5rem;
  }
  .calender-img{
    width: 18px;
    height: 18px;
  }
  .activeTask_Container{
    padding-top: 10px;
  }
  .activeTask_Container li{
    padding-left: 8px;
  }
}

@media screen and (max-width: 500px){
  html{
    font-size: 37%;
  }
  .rose-img img{
    width: 13rem;
  }
  .currentDate{
    top: 13.5%;
    height: 20px;
    width: 11.8rem;
  }
  .calender-img{
    width: 14px;
    height: 14px;
  }
  #punchHolesContainer{
    top: -7px;
  }
  .activeTask_Container .taskCompleteCheckBox::before{
    top: 43%;
    left: 50%;
    transform: translate(-50%,-50%)
  }
 
  .activeTask_Container{
    padding-top: 0px;
  }
  .activeTask_Container li{
    padding-left: 5px;
  }
  .date-text{
    font-size: 10px;
  }
  .currentDate{
    padding-top: 1px;
  }
  .activeTask_Container .moveTaskTORecycleBin{
    bottom: 5.2px;
  }
  .recycle-tasksContainer{
    min-width: 250px;
  }
  #header{
    padding: 10rem 15px 4rem 15px;
  }
  main{
    justify-content: flex-end;
    height: 70%;
  }
  
}


@media screen and (max-width: 400px){
  html{
    font-size: 34%;
  }
  .rose-img img{
    width: 11rem;
  }
  #main-body{
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.253);
  }
  .calender-img{
    width: 14px;
    height: 14px;
    bottom: 3px;
  }
  .currentDate{
    width: 12.1rem;
    padding-top: 3px;
  }
  .date-text{
    font-size: 9px;
  }
  .recycle-tasksContainer{
    min-width: 227px;
  }
}